<h1>Llamadas</h1>

<table>
  <tr>
    <th>Desde</th>
    <th>Hasta</th>
  </tr>

  <% @calls.each do |call| %>
      <tr>
        <td><%= call.origin.pais_coma_ciudad %></td>
        <td><%= call.destination.pais_coma_ciudad %></td>
        <td><%= link_to 'Show', call_path(call) %></td>
      </tr>
  <% end %>
</table>
