<br>
<h1><span class="label label-danger">Llamadas</span></h1>

<table class="table">
  <tr>
    <th>Origen</th>
    <th>Destino</th>
  </tr>

  <% @calls.each do |call| %>
      <tr>
        <td><i class="fa fa-map-marker"><%= call.origin.pais_coma_ciudad %></td>
        <td><i class="fa fa-map-marker"><%= call.destination.pais_coma_ciudad %></td>
          <td><i class="fa fa-search fa-fw"></i> <%= link_to 'Show', call_path(call), class: 'btn btn-primary' %></td>
      </tr>
  <% end %>

</table>