<p>
  <strong>Origen:</strong>
  <%= @call.origin %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @call.destiny %>
</p>

<p>
  <strong>Se realizo:</strong>
  <%= @call.when %>
</p>

<p>
  <strong>Duro:</strong>
  <%= @call.last %>
</p>