<p>
  <strong>Origen:</strong>
  <%= @call.origin.pais_coma_ciudad %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @call.destination.pais_coma_ciudad %>
</p>

<p>
  <strong>Se realizo:</strong>
  <%= @call.when %>
</p>

<p>
  <strong>Duro:</strong>
  <%= @call.last %>
</p>