<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true%>

<br>
<li><a href="/calls/new"><i class="fa fa-phone-square fa-spin fa-5x fa-fw"></i><span> Llamada nueva </span></a></li>
<br>
<li><a href="/locations/new"><i class="fa fa-map-marker fa-spin fa-5x fa-fw"></i><span> Ubicacion nueva </span></a></li>
<br>

<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900">Paint it green</a>
<a href="#" data-background-color="#000099">Paint it blue</a>