<h1>Pedir factura</h1>
<%= render 'bills/ask_for_bill' %>


<h2>Facturas</h2>
<table>
  <tr>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Monto</th>
    <th>Llamadas</th>
  </tr>
<%= render 'bills/print_bills' %>
