<h1>Crear facturador</h1>
<%= form_for :biller, url: billers_path do |f| %>

    <p>
      <%= f.label :empresa, 'Empresa de telefonia' %><br>
      <%= f.select(:empresa, [CostosDeLlamadaBasicos.new.tipos_de_costo]) %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>