<br>
<h1>Ubicaciones posibles</h1>

<table class='table'>
  <tr>
    <th><i class="fa fa-globe fa-fw"></i><span> Pais </span></th>
    <th><i class="fa fa-flag fa-fw"></i><span> Ciudad </span></th>
  </tr>

  <% @locations.each do |location| %>
      <tr>
        <td><%= location.pais %></td>
        <td><%= location.ciudad %></td>
        <td><i class="fa fa-search fa-fw"></i><%= link_to 'Show', location_path(location), class: 'btn btn-primary' %></td>
      </tr>
  <% end %>
</table>