<br>
<div class="panel panel-primary">
  <div class="panel-body panel-show">
    <p>
      <strong>Pais:</strong>
      <%= @location.country.name %>
    </p>

    <p>
      <strong>Ciudad:</strong>
      <%= @location.ciudad %>
    </p>
  </div>
</div>